.leftArrow {
  display: none;
}
@media screen and (max-width: 576px) {
  .sidebar__header {
    margin-top: 64px !important;
    &__wrap {
      
      margin-left: 0 !important;
    }
  }
  .chatwindow__header {
    &__wrap {
      margin-right: 0 !important;
    }
  }
  .active-message {
    display: block;
  }
  .inactive-message {
    display: none;
  }
  .leftArrow {
    margin-left: 10px;
    display: block;
  }
}

